html {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    background-color: rgb(216,182,155);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.main-page-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-direction: row;
    border-bottom: 0.083em solid rgb(213, 157, 107);
    background-color: rgb(208, 137, 98);
    width: 100%;
    height: 10%;
    z-index: 100;
}
.top-header-center {
    flex-basis: 60%;
}
.top-header-center nav ul li:hover {
    color: rgb(0, 0, 153);
    text-decoration: underline;
    cursor: pointer;
}
.top-header-left .header-left-button {
    background-color: rgb(119, 61, 49);
    border: none;
    cursor: pointer;
}

.top-header-right .header-right-button {
    background-color: rgb(119, 61, 49);
    cursor: pointer;
    font-size: .8753em;
    border-radius: .75em;
}

.top-header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3%;
}
.top-header-left p {
    padding-left: 2%;
    font-size: 1.2em; 
}

.top-header-left .header-left-button {
    border-radius: 50%;
}
.top-header-right {
    padding-right: 2%
}

nav ul { 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-picture {
    width: 100%;
    position: relative;
    border-bottom: 0.083em solid rgb(213, 157, 107);
}
.main-picture img {
    display: flex;
    width: 100%;
}
/* Used with help from https://www.w3schools.com/howto/howto_css_image_text.asp to get text on top of image */
.main-picture-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    background-color: rgb(119, 61, 49, .9);
    top: 84%;
    left: 2%;
    z-index: 10;
}

/* Button Animation code taken from https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1 */
.main-picture-button button {
    background-color: rgb(72, 44, 48, .9);
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}

.main-picture-button button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.main-picture-button button span:after {
    content: '\2192';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.667em;
    transition: 0.5s;
}
  
.main-picture-button button:hover span {
    padding-right: 2.083em;
}
  
.main-picture-button button:hover span:after {
    opacity: 1;
    right: 0;
}

.main-page-locations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 137, 98);
    border-bottom: 0.083em solid rgb(213, 157, 107);
    width: 100%;
    height: 10%;
}
.main-page-grid {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 100%;
}
.main-page-side-grid {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 40%;
    height: 80%;
    border: 0.083em solid rgb(211,211,211);
}

.main-page-side-grid .side-grid-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1;
}

.main-page-side-grid .side-grid-text button {
    justify-self: flex-end;
}

.main-page-side-grid .side-grid-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.main-page-side-grid .side-grid-img img {
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%
}

.main-page-dog-advertisment {
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: 0.083em solid rgb(213, 157, 107);
}
.main-page-dog-advertisment img { 
    width: 100%;
    height: 100%;
    z-index: 5
}
.advertisment-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.main-page-top-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 80%;
    border: 0.083em solid rgb(211,211,211);
}
.main-page-top-grid .top-grid-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
}
.main-page-top-grid .top-grid-img img {
    max-height: 100%;
    min-width: 100%;
    
}
.main-page-top-grid .top-grid-text {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main-page-top-grid .top-grid-text h2 {
    align-self: center;
}
.main-page-adopt-a-dog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 137, 98);
    border-bottom: 0.083em solid rgb(213, 157, 107);
    width: 100%;
    height: 10%;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(119, 61, 49);
    border-bottom: 0.083em solid rgb(213, 157, 107);
    width: 100%;
    height: 25%;
}
footer .footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer .footer-social-media button {
    background-color: rgb(208, 137, 98);
    border: none;
}
/* Help From https://www.w3schools.com/css/css_link.asp on link decoration */
a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
  
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
  
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a:active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}





