body {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    background-color: rgb(216,182,155);
    box-sizing: border-box;
}
.main-page-container {
    width: 100%;
    height: 100%;
}
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-direction: row;
    border-bottom: 1px solid rgb(213, 157, 107);
    background-color: rgb(208, 137, 98);
    width: 100%;
    height: 10%;
    z-index: 100;
}
.top-header-center {
    flex-basis: 60%;
}
.top-header-center nav ul li:hover {
    color: rgb(0, 0, 153);
    text-decoration: underline;
    cursor: pointer;
}
.top-header-left .header-left-button {
    background-color: rgb(119, 61, 49);
    border: none;
    cursor: pointer;
}

.top-header-right .header-right-button {
    background-color: rgb(119, 61, 49);
    cursor: pointer;
    font-size: 14px;
    border-radius: 12px;
}

.top-header-left {
    display: flex;
    align-items: center;
    padding-left: 3%
}
.top-header-left .header-left-button {
    border-radius: 50%;
}
.top-header-right {
    padding-right: 2%
}

nav ul { 
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.main-picture {
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(213, 157, 107);
}
.main-picture img {
    display: flex;
    width: 100%;
}
/* Used with help from https://www.w3schools.com/howto/howto_css_image_text.asp to get text on top of image */
.main-picture-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 20%;
    z-index: 10;
}
.main-page-locations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 137, 98);
    border-bottom: 1px solid rgb(213, 157, 107);
    width: 100%;
}
.main-page-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.main-page-side-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 40%;
    height: 100%;
    border: 1px solid rgb(211,211,211);
}

.main-page-side-grid .side-grid-text{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.main-page-side-grid .side-grid-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%
}

.main-page-dog-advertisment {
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgb(213, 157, 107);
}
.main-page-dog-advertisment img { 
    width: 100%;
    height: 80%;
    z-index: 5
}
.advertisment-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.main-page-top-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 60%;
    border: 1px solid rgb(211,211,211);
}
.main-page-top-grid img {
    display: flex;
    position: relative;
    width: 100%;
    height: 50%;
}
.main-page-adopt-a-dog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 137, 98);
    border-bottom: 1px solid rgb(213, 157, 107);
    width: 100%;
    height: 40%;

}
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(119, 61, 49);
    border-bottom: 1px solid rgb(213, 157, 107);
}
footer .footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* Help From https://www.w3schools.com/css/css_link.asp on link decoration */
a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
  
a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
  
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a:active {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}





